.orange {
    background: #ffc078;
}

.green {
    background: #8ce99a;
}

.blue {
    background: #74c0fc;
}

.purple {
    background: #b197fc;
}

.red {
    background: red;
}

.rose {
    background-color: #ffa8a8;
}
