.content {
    position: relative;
    display: flex;
    gap: 5px;
    border: solid 1px var(--color-border);
    align-items: center;
    padding: 5px;
    font-size: 16px;
    border-radius: 16px;
    backdrop-filter: blur(10px); /* Само размытие фона */
    -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */
    z-index: 10000;
}

.bold {
    font-weight: 500;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
    font-style: italic;
}

.button {
    border-radius: 8px;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.colorEditor {
    position: absolute;
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    padding: 10px;
    top: 100%;
    left: 80%;
    border: solid 1px var(--color-border);
    border-radius: 16px;
    background: #fff;
    z-index: 200;
}
