.container {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 10px;
    border: solid 1px var(--color-border);
}

.content {
    display: flex;
    gap: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.timeInput {
    width: 90px;
}

.dayOfMonthInput {
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.days {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.day {
    padding: 3px 5px;
    border-radius: 6px;
    background: #edf6ff;
    transition: background 200ms ease-out;
    color: #0070ff;
}

.day:hover {
    background: #f3f9ff;
}

.day.active {
    background: #0070ff;
    color: white;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 8px;
    }

    .content {
        flex-direction: column;
    }

    .days {
        flex-wrap: wrap;
    }
}
