.optionContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optionContent:hover .dragHandle,
.dragHandle:hover {
    opacity: 1;
}

.input {
    flex: 1;
    min-width: 0;
    transition: border-bottom 0.2s ease-in-out;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: text;
}

.input:focus-within {
    border-color: var(--color-primary);
}

.option {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    min-width: 0;
}

.dragHandle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #5f6c7b;
    opacity: 0;
    cursor: grab;
    transition:
        opacity 0.2s ease,
        color 0.2s ease;
    touch-action: none;
}

.dragHandle:active {
    cursor: grabbing;
    color: #1785e5;
}

.dragHandleIcon {
    width: 16px;
    height: 8px;
}
