.container {
    position: relative;
}

.textColorEditor {
    position: absolute;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    width: 150px;
    padding: 10px;
    top: 150%;
    left: 0%;
    border: solid 1px var(--color-border);
    border-radius: 16px;
    background: #fff;
    z-index: 100;
}

.textColors {
    display: flex;
    flex-wrap: wrap;
}

.textPurple {
    color: #958df1;
}

.textRed {
    color: #f98181;
}

.textOrange {
    color: #fbbc88;
}

.textYellow {
    color: #faf594;
}

.textBlue {
    color: #70cff8;
}

.textTeal {
    color: #94fadb;
}

.textGreen {
    color: #b9f18d;
}

.button {
    border-radius: 8px;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.unset {
    width: 1px;
    height: 100%;
    background: #000;
    rotate: 45deg;
}

.unsetContainer {
    border: solid 1px #000;
}
